mixin footer
  footer#footer
    .container
      p.text-muted.credit.
        <a href="https://github.com/twiforce/synchtube.ru" target="_blank">synchtube.ru</a>&nbsp;&middot;&nbsp;<a href="https://github.com/calzoneman/sync" target="_blank">sync</a>&nbsp;&middot;&nbsp;<a href="/useragreement" target="_blank">Пользовательское соглашение</a>&nbsp;&middot;&nbsp;<a href="/contact" target="_blank">Контакты</a>&nbsp;&middot;&nbsp;<a href="https://github.com/twiforce/synchtube.ru/wiki/%D0%A7%D0%B0%D1%81%D1%82%D0%BE-%D0%B7%D0%B0%D0%B4%D0%B0%D0%B2%D0%B0%D0%B5%D0%BC%D1%8B%D0%B5-%D0%B2%D0%BE%D0%BF%D1%80%D0%BE%D1%81%D1%8B" target="_blank">Помощь</a>
  script(src="/js/jquery-1.11.0.min.js")
  // Must be included before jQuery-UI since jQuery-UI overrides jQuery.fn.button
  // I should really abandon this crap one day
  script(src="/js/jquery-ui.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js")
