doctype html
html(lang="ru")
  head
    include head
    mixin head()
  body
    #wrap
      nav.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
        include nav
        mixin navheader()
        #nav-collapsible.collapse.navbar-collapse
          ul.nav.navbar-nav
            mixin navdefaultlinks("/register")
          if loggedIn
            mixin navlogoutform("/register")
      section#mainpage.container
        if loggedIn
          .col-lg-6.col-lg-offset-3.col-md-6.col-md-offset-3
            .alert.alert-danger.messagebox.center
              strong Вы уже авторизованы
              p.
                Вы уже авториованы. Если вы хотите зарегистрироваться, сначала <a href="/logout?redirect=/register">выйдите</a> из своего профиля.
              // TODO Link to My Account page
        else if !registered
          .col-lg-6.col-lg-offset-3.col-md-6.col-md-offset-3
            if registerError
              .alert.alert-danger.messagebox.center
                strong Ошибка при регистрации
                p= registerError
            h2 Регистрация
            form(role="form", action="/register", method="post", onsubmit="return verify()")
              .form-group
                label.control-label(for="username") Логин
                input#username.form-control(type="text", name="name")
              .form-group
                label.control-label(for="password") Пароль
                input#password.form-control(type="password", name="password", onkeyup="checkPasswords()")
              .form-group
                label.control-label(for="password_confirm") Пароль еще раз
                input#password_confirm.form-control(type="password", onkeyup="checkPasswords()")
              .form-group
                label.control-label(for="email") Email (необязательно)
                input#email.form-control(type="email", name="email")
                p Заполнив это поле, у вас останется возможность восстановить свой аккаунт, если вы вдруг забудете пароль. Ваш адрес нигде не будет отображаться и используется только для восстановления пароля.
              button#registerbtn.btn.btn-success.btn-block(type="submit") Зарегистрироваться!
        else
          .col-lg-6.col-lg-offset-3.col-md-6.col-md-offset-3
            .alert.alert-success.messagebox.center
              strong Успешная регистрация
              p Добро пожаловать, #{registerName}!  Теперь вы можете <a href="/login">войти</a> в свой аккаунт.
    include footer
    mixin footer() 
    script(src="/js/jquery.js")
    script(type="text/javascript").
      function verify() {
        var valid = checkUsername();
        valid = checkPasswords() && valid;
        return valid;
      }
      function checkUsername() {
        var name = $("#username").val();
        $("#usernameerror").remove();
        if (name === "") {
          $("#username").parent().addClass("has-error");
          $("<p/>").addClass("text-danger")
            .attr("id", "usernameerror")
            .text("Имя пользователя не может быть пустым.")
            .insertAfter($("#username"));
          return false;
        } else if (!(/^[-\w\u00c0-\u00ff]{1,20}$/).test(name)) {
          $("#username").parent().addClass("has-error");
          $("<p/>").addClass("text-danger")
            .attr("id", "usernameerror")
            .text("Имя пользователя должно состоять из 1-20 символов a-Z, A-Z, 0-9 " +
                  ", -, или _.")
            .insertAfter($("#username"));
          return false;
        } else {
          $("#username").parent().removeClass("has-error")
            .addClass("has-success");
        }
      }
      function checkPasswords() {
        var pw = $("#password").val();
        var pwc = $("#password_confirm").val();
        $("#passwordempty").remove();
        $("#passwordmismatch").remove();
        if (pw === "") {
          $("#password").parent().addClass("has-error");
          $("<p/>").addClass("text-danger")
            .attr("id", "passwordempty")
            .text("Пароль не может быть пустым.")
            .insertAfter($("#password"));
          return false;
        } else {
          $("#password").parent().removeClass("has-error")
            .addClass("has-success");
          if (pw !== pwc) {
            $("#password_confirm").parent().addClass("has-error");
            $("<p/>").addClass("text-danger")
              .attr("id", "passwordmismatch")
              .text("Введенные пароли не совпадают.")
              .insertAfter($("#password_confirm"));
            return false;
          } else {
            $("#password_confirm").parent().removeClass("has-error")
              .addClass("has-success");
          }
        }
      }
